<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VueJS-new</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        #test{
            background: red;
        }
        .test{
            background: blue;
        }
        .link{
            text-decoration: underline;
        }
    </style>
</head>
<body>

<div id="app" class="container" style="height: 100vh; padding-top: 50vh;">
    <div class="row" style="margin-top: -25vh;">
        <div class="col-6 border-right">
            <h1 class="text-center">WYSIWYG редактор</h1>
            <div class="form-group">
                <label>Выберите тег</label>
                <select v-model="tag" class="form-control">
                    <option disabled value="">Выберите один из вариантов</option>
                    <option>a</option>
                    <option>strong</option>
                    <option>h1</option>
                </select>
            </div>
            <div v-if="tag != ''">
                <div class="form-group">
                    <label>Text</label>
                    <input class="form-control" type="text" v-model="text">
                </div>
                <div v-if="tag == 'a'" class="form-group">
                    <label>Link</label>
                    <input class="form-control" type="text" v-model="link">
                </div>
                <div v-if="tag != 'a'" class="form-group">
                    <label>Id</label>
                    <input class="form-control" type="text" v-model="id">
                </div>
                <div v-if="tag == 'h1'" class="form-group">
                    <label>Style</label>
                    <input class="form-control" type="text" v-model="style">
                </div>
                <div v-if="tag != 'h1'" class="form-group">
                    <label>Class</label>
                    <input class="form-control" type="text" v-model="el_class">
                </div>
            </div>
            <button v-on:click="addElement" type="button" class="btn btn-success">Render</button>
        </div>
        <div id="show" class="col-6">
            <h1 class="text-center">Results</h1>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    let App = new Vue({
        el: '#app',
        data: {
            tag: '',
            text: '',
            link: '',
            id: '',
            style: '',
            el_class: '',
        },
        methods: {
            addElement: function ()
            {
                let el;
                if (this.tag == 'a')
                {
                    el = document.createElement(this.tag);
                    el.text = this.text;
                    el.href = this.link;
                    el.classList = this.el_class;
                }
                if (this.tag == 'strong')
                {
                    el = document.createElement(this.tag);
                    el.textContent  = this.text;
                    el.id = this.id;
                    el.classList = this.el_class;
                }
                if (this.tag == 'h1')
                {
                    el = document.createElement(this.tag);
                    el.innerText = this.text;
                    el.id = this.id;
                    el.style.cssText = this.style;
                }
                let div = document.createElement('div');
                div.appendChild(el);
                show.appendChild(div);
            },
        }
    });
</script>
</body>
</html>
